@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* getInTouch.module.css */

.custom-heading {
  font-family: "ElzaTrial", sans-serif; /* Use 'sans-serif' as a fallback font */
  /* Other styles for your heading */
}

/* global.css */
/* global.css */

.my-custom-background {
  position: relative; /* Make the container relative for absolute positioning of pseudo-elements */
}

.my-custom-background::before,
.my-custom-background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.my-custom-background::before {
  background-image: url("../images/Vector.png"); /* Replace with the path to your second image */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.05;
  /* Place the star background behind everything */

  /* Adjust other background properties as needed */
}

.my-custom-background::after {
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Place the vector background behind everything except the star background */

  /* Adjust other background properties as needed */
}

/* getInTouch.module.css */
.getInTouchContainer {
  /* Your component-specific styles go here */
  /* For example: */
  background-color: black;
  color: white;
}
